body {
    background: linear-gradient(35deg, #a7e2c8, #daa5ce);
    font-size: 16px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    text-align: center;
}

#portrait img {
    height: 560px;
    border: 8px solid rgb(21, 105, 13);
    border-collapse: collapse;
}

section {
    text-align: center;
}

#myLife {
    font-size: 40px;
    color: black;

 }

#myLife ul { 
    display: flex;
    justify-content:space-around;
    padding-bottom: 24px;
    padding-left: 10px;
    margin: 10px;
}

#myLife ul li {
    list-style: none;
}

#myLife ul li a {
    color: #fd00c2;
    text-decoration: none;
    font-size: 18px;
}

#myLife ul li a:hover {
    color:#000000;
}

h3 {
     margin: 20px;
     padding-top: 10px;
     font-size: 18px;
     font-style: italic;
     color: black;
 }

h2 {
    font-size: 22px;
    color: black;
}

h1 {
    margin: 30px;
    padding: 10px;
}

p {
    color:black;
    text-align: center;
    display: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 30px;
    padding-top: 8px;
}

img {
    height: 550px;
}

.flex-container {
    justify-content: space-evenly;
    margin: 10px;
    padding-bottom: 20px;
  }

.center{
    margin-left: auto;
    margin-right: auto;
}

#hobbies {
    text-align: center;
    display: center;
    margin-bottom: 40px;
}

#hobbies div { 
    text-align: center; 
}

#hobbies ul { 
    display: inline-block; 
    text-align: left; 
    color: black;
}

#music th {
    color: #fd00c2;
}

#music td {
    color: black;
}

#tournus img {
    border: 8px solid rgb(236, 134, 148);
    border-collapse: collapse;
}

#australia img {
    border: 8px solid rgb(70, 49, 23);
    border-collapse: collapse;
}

#colombia img {
    border: 8px solid rgb(201, 55, 123);
    border-collapse: collapse;
}

#lyon img {
    border: 8px solid rgb(71, 62, 51);
    border-collapse: collapse;
}

#paella img {
    border: 8px solid rgb(219, 157, 41);
    border-collapse: collapse;
    height:550px;
}

#tapas img {
    border: 8px solid rgb(49, 39, 30);
    border-collapse: collapse;
    height:700px;
}

#chocolo img {
    border: 8px solid rgb(218, 163, 13);
    border-collapse: collapse;
    height: 480px;;
}

#ajiaco img {
    border: 8px solid rgb(49, 49, 30);
    border-collapse: collapse;
    height: 450px;
}

#bandeja_paisa img {
    border: 8px solid rgb(136, 36, 6);
    border-collapse: collapse;
    height: 450px;
}

#rokko img {
    border: 8px solid rgb(17, 73, 12);
    border-collapse: collapse;
    height: 600px;
}

#helado img {
    border: 8px solid rgb(49, 39, 30);
    border-collapse: collapse;
    height: 650px;
}

#ice_cream_waffles img {
    border: 8px solid rgb(235, 19, 127);
    border-collapse: collapse;
    height:450px;
}

#camembert img {
    border: 8px solid rgb(17, 73, 12);
    border-collapse: collapse;
    height:480px;
}

#apple img {
    border: 8px solid rgb(49, 39, 30);
    border-collapse: collapse;
    height:500px;
}

#eggplant img {
    border: 8px solid rgb(122, 37, 3);
    border-collapse: collapse;
    height:500px;
}

#salad img {
    border: 8px solid rgb(21, 105, 13);
    border-collapse: collapse;
    height:550px;
}

#pasta img {
    border: 8px solid rgb(17, 73, 12);
    border-collapse: collapse;
    height:550px;
}

#sushi img {
    border: 8px solid rgb(11, 25, 90);
    border-collapse: collapse;
}

#waffle img {
    border: 8px solid rgb(107, 54, 19);
    border-collapse: collapse;
    height:600px;
}

#omelette img {
    border: 8px solid rgb(158, 84, 23);
    border-collapse: collapse;
    height:500px;
}

#langos img {
    border: 8px solid rgb(24, 121, 15);
    border-collapse: collapse;
}

#mybabies img {
    border: 8px solid rgb(0, 0, 0);
    border-collapse: collapse;
    height:480px;
}

table {
    display: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 50px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#spoti:hover {
    cursor: pointer;
}

#spoti img {
    height: 70px;
    background-color: black;
    border-radius: 50%;
    margin-left: 20px;
}

#insta:hover {
    cursor: pointer;
}

#insta img {
    height: 70px;
    margin-right: 20px;
    margin-bottom: 40px;
}

#myBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99; 
    border: none;
    background-color: rgb(235, 19, 127);
    color: black; 
    cursor: pointer; 
    padding: 15px;
    border-radius: 10px;
    font-size: 14px; 
  }
  
  #myBtn:hover {
    background-color: rgb(236, 134, 148); 
  }