body {
    background-color: black;
    color:white;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    text-align: center;
}

#portrait img {
    height: 700px;
}

section {
    text-align: center;
}

#myLife {
    font-size: 40px;
    color: white;
 }

#myLife ul { 
    display: flex;
    background: black;
    justify-content: space-around;
    padding-top: 12px;
    padding-bottom: 24px;
    padding-right: 38px;
    margin: 15px;
    margin-bottom: 40px;

}

#myLife ul li {
    list-style: none;
}

#myLife ul li a {
    color: rgb(31, 226, 226);
    text-decoration: none;
    font-size: 18px;
}

#myLife ul li a:hover {
    color:rgb(240, 128, 0);
}

h3 {
     margin: 20px;
     padding-top: 30px;
     color: rgb(240, 128, 0);
     font-size: 18px;
 }

h2 {
    font-size: 22px;
}

h1 {
    margin: 30px;
    padding: 10px;
}

img {
    height: 500px;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

#hobbies div { 
    text-align: center; 
}

#hobbies ul { 
    display: inline-block; text-align: left; 
}

#music th {
    color: rgb(240, 128, 0);
}

#hobbies {
    text-align: center;
    display: center;
    margin-bottom: 40px;
}

p {
    color:white;
    text-align: center;
    display: center;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    padding-top: 10px;
}

#myInsta p {
    margin-top: px;
    margin-bottom: 5px;
    padding-bottom: 30px;
    padding-top: 1px;

}

#myInsta a {
    padding-top: 10px;
    padding: 10px;
    font-size: 14px;
    color:khaki;
}

#mySpoti a {
    padding-top: 10px;
    padding: 10px;
    font-size: 14px;
    color:khaki;
}

#mySpoti {
    margin: 20px;
}

#myInsta {
    margin: 20px;
}


.flex-container {
    justify-content: space-evenly;
    margin: 10px;
    padding-bottom: 20px;
  }

table {
    display: center;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 50px;
  }

.container {
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.spoti {
    background-color: black;
    border: none;
}

.spoti:hover {
    cursor: pointer;
}

.spoti img {
    height: 72px;
    padding: 17px;
    margin-bottom: 80px;
}

.insta {
    background-color: black;
    border: none;
}

.insta:hover {
    cursor: pointer;
}

.insta img {
    height: 60px;
    padding:24px;
    margin-bottom: 40px;
}